In [1]:
import numpy as np
import pandas as pd
from concurrent.futures import ProcessPoolExecutor
import random
import time
from collections import defaultdict
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS
import string
from nltk.stem import PorterStemmer, WordNetLemmatizer
import nltk
from nltk.corpus import stopwords
import re
from collections import Counter
from math import log

# Data Preparation

In [2]:
corpus = pd.read_json('data/corpus.jsonl', lines=True).sort_values(by=["_id"]).rename(columns={"_id": "corpus-id"})
corpus

         corpus-id                                               text
1000000          0  The presence of communication amid scientific ...
966376           8  In June 1942, the United States Army Corps of ...
468831          12  Tutorial: Introduction to Restorative Justice....
1000001         16  The approach is based on a theory of justice t...
306952          23  Phloem is a conductive (or vascular) tissue fo...
...            ...                                                ...
950989     8841780  Wolves don't hide. They don't even live in cav...
395590     8841787  The UNHCR Country Representative in Kenya. Str...
93101      8841790  2. Describe the misery at Kakuma. 3. Compariso...
669122     8841800  Following the death of his employer and mentor...
593471     8841801  Presently, Puerto Rico holds the most titles f...

[1471406 rows x 2 columns]

In [3]:
queries = pd.read_json(path_or_buf='data/queries.jsonl', lines=True).sort_values(by=["_id"])
queries['text'] = queries['text'].str.strip()#.apply(tokenize)
queries = queries.drop(columns=["metadata"]).rename(columns={"_id": "query-id"})
queries

        query-id                                               text
506217         2                           Androgen receptor define
65864          3      Another name for the primary visual cortex is
372466         4  Defining alcoholism as a disease is associated...
326447         5                ECT is a treatment that is used for
117580         6      Ebolavirus is an enveloped virus, which means
...          ...                                                ...
158901   1185863                          why did rachel carson die
83120    1185864                                definition of ramen
7634     1185865                    amex india customer care number
1        1185868  _________ justice is designed to repair the ha...
0        1185869  )what was the immediate impact of the success ...

[509962 rows x 2 columns]

In [4]:
query_corpus_train_map = pd.read_csv("data/task1_train.tsv", sep="\t")
query_corpus_train_map.sort_values(by="query-id")

        query-id  corpus-id  score
70257          3    1142680      1
395137         4    5613529      1
346352         5    4956428      1
125307         6    1931409      1
66896          8    1094214      1
...          ...        ...    ...
169115   1185863    2545716      1
88577    1185864    1408016      1
8141     1185865     229186      1
1        1185868         16      1
0        1185869          0      1

[532751 rows x 3 columns]

In [5]:
queries_train = pd.merge(queries, query_corpus_train_map, left_on='query-id', right_on='query-id', how='inner').drop(columns=[ "score","corpus-id"])
queries_train_subset = queries_train.iloc[:7437, :]
queries_train_subset

      query-id                                               text
0            3      Another name for the primary visual cortex is
1            4  Defining alcoholism as a disease is associated...
2            5                ECT is a treatment that is used for
3            6      Ebolavirus is an enveloped virus, which means
4            8  In humans, the normal set point for body tempe...
...        ...                                                ...
7432     18204                                      anger is fear
7433     18205                        anger management definition
7434     18208                                 angie baby meaning
7435     18209                                     angie lindvall
7436     18211          angies list customer service phone number

[7437 rows x 2 columns]

In [6]:
df_test = pd.read_csv("data/task1_test.tsv", sep="\t")
queries_test = pd.merge(queries, df_test, left_on='query-id', right_on='query-id', how='inner').drop(columns=["id"])
queries_test

      query-id                                               text
0            2                           Androgen receptor define
1         1215  3 levels of government in canada and their res...
2         1288                                          3/5 of 60
3         1576                                    60x40 slab cost
4         2235         Bethel University was founded in what year
...        ...                                                ...
7432   1102335                             why do people buy cars
7433   1102351  why do jefferson and stanton include these sim...
7434   1102390                     why do children get aggressive
7435   1102393                  why do celebrate st patrick's day
7436   1102400                             why do bears hibernate

[7437 rows x 2 columns]

# WATCH OUT HERE IS CRITIAL CHANGING CODE ...

In [27]:
queries2 = queries_train_subset.iloc[: 100]
corpus2 = corpus.iloc[:10000]
corpus2 = pd.concat([corpus2, corpus[corpus["corpus-id"] == 1142680]])
print(f"Used corpus length : {len(corpus2)}")
print(f"Used queries length : {len(queries2)}")

Used corpus length : 10001
Used queries length : 100

# TF-IDF Functions

In [28]:
# Download necessary resources
nltk.download('punkt', quiet=True)
nltk.download('stopwords', quiet=True)
nltk.download('wordnet', quiet=True)

STEMMER = PorterStemmer()
LEMMATIZER = WordNetLemmatizer()

# Precompile regex patterns for efficiency
HTML_PATTERN = re.compile("(<.*?>)")
NON_ASCII_DIGITS_PATTERN = re.compile("(\\W|\\d)")
NON_ASCII_CHARS_PATTERN = re.compile(r'[^\x00-\x7F]+')

# Convert stopwords list to set for faster lookup
STOPWORDS_SET = set(stopwords.words("english"))

In [9]:
def preprocess_text(text):
    """Optimized text preprocessing function."""
    
    # Cleaning
    text = HTML_PATTERN.sub("", text)
    text = NON_ASCII_DIGITS_PATTERN.sub(" ", text)
    text = NON_ASCII_CHARS_PATTERN.sub('', text)
    text = "".join([ch for ch in text if ch not in string.punctuation])
    
    # Tokenization
    tokens = nltk.word_tokenize(text)
    
    # Remove stopwords, and then perform Stemming and Lemmatization
    preprocessed_tokens = [
        STEMMER.stem(LEMMATIZER.lemmatize(word))
        for word in tokens
        if word.lower() not in STOPWORDS_SET
    ]
    
    return preprocessed_tokens

In [10]:
def parallel_preprocess_texts(texts):
    with Pool() as pool:
        preprocessed_batches = pool.map(preprocess_text, texts)
    return preprocessed_batches

In [11]:
def populate_tfidf_dataframe(documents, vocabulary):
    # Create a list of dictionaries with term frequencies
    list_of_dicts = [Counter(doc) for doc in documents]
    
    # Convert the list of dictionaries to a DataFrame
    df = pd.DataFrame(list_of_dicts).fillna(0)
    
    # Reorder columns according to the vocabulary and fill missing columns with 0
    df = df.reindex(columns=vocabulary, fill_value=0)
    
    return df

In [12]:
def tfidf(corpus_text):
    # Parallel tokenization and preprocessing
    print("Process docs ...")
    documents = corpus_text.apply(lambda x: preprocess_text(x))

    print("Create vocab ...")
    # Create the vocabulary
    vocabulary = list(set(word for doc in documents for word in doc))
    vocabulary.sort()
    
    # Use the helper function to create and populate the DataFrame for term frequencies
    print("Compute tf ...")
    df = populate_tfidf_dataframe(documents, vocabulary)
            
    # Compute IDF values
    print("Compute idf ...")
    doc_count = len(documents)
    idf = df[df > 0].count().apply(lambda x: log(doc_count / x))
    
    # Compute TF-IDF values
    print("Compute tf-idf ...")
    tfidf_df = df.apply(lambda x: x / x.sum(), axis=1).multiply(idf)
    print("Done !")
    return documents, tfidf_df, vocabulary, idf

In [13]:
def preprocess_query(query):
    """Tokenize, stem, and remove stopwords from the query."""
    return preprocess_text(query)

In [14]:
def vectorize_query(query, vocabulary, idf):
    """Convert the query into its TF-IDF vector."""
    query_tf = Counter(preprocess_query(query))
    query_vector = [query_tf.get(term, 0) * idf[term] for term in vocabulary]
    return np.array(query_vector)

In [15]:
def predict_documents(tfidf_matrix_normalized, query_vectors, k):
    """Process multiple queries and return ranked document indices for each query."""
    # Compute cosine similarities using matrix operations
    similarity_matrix = np.dot(query_vectors, tfidf_matrix_normalized.T)
    
    # Get document indices ranked by relevance for each query
    ranked_doc_indices = np.argsort(-similarity_matrix)[:, :k]
    return ranked_doc_indices

# Corpus Processing

In [37]:
%%time
_, tfidf_df, vocabulary, idf = tfidf(corpus2["text"])
len(corpus2["text"])

Process docs ...
Create vocab ...
Compute tf ...
Compute idf ...
Compute tf-idf ...
Done !
CPU times: user 58.9 s, sys: 16.1 s, total: 1min 15s
Wall time: 1min 19s

10001

In [30]:
l2_norms = np.linalg.norm(tfidf_df.values, axis=1)
df_normalized = tfidf_df.divide(l2_norms, axis=0)
df_normalized

,aa,aaa,aac,aacn,aadvantag,aafcu,aafp,aaicama,aalsmeer,aamc,...,zugspitz,zulay,zune,zurich,zwick,zwitterion,zygnematacea,zygot,zz,zzz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
tfidf_np = np.array(df_normalized.values)
tfidf_np.shape

(10001, 22700)

# Queries Processing

## Way 1

In [32]:
print("Vectorizing...")
queries2.loc[:, "list"] = queries2["text"].apply(lambda x: vectorize_query(x, vocabulary, idf))
print("Stacking...")
query_vectors = np.vstack(queries2["list"])
query_vectors.shape

Vectorizing...
Stacking...

/var/folders/ym/9zzn1f9j7c7dnh381g3rrm_m0000gn/T/ipykernel_21350/1789163805.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  queries2.loc[:, "list"] = queries2["text"].apply(lambda x: vectorize_query(x, vocabulary, idf))

(100, 22700)

In [33]:
prediction = predict_documents(tfidf_np, query_vectors, 10)
prediction

array([[10000,  5238,  2273,  9770,  8353,  8531,  6516,  3475,  9389,
         3656],
       [ 4257,  5972,   702,  4258,  4975,  5531,  5780,   212,  4161,
         7689],
       [ 5297,  8655,  6353,   268,  8656,  1994,   938,  7358,  6031,
          939],
       [ 9642,  8167,  5016,  5802,  6052,  5801,  6728,  3988,  7364,
         7225],
       [ 6327,  1659,  4757,  8241,  6325,  8240,  1658,  1660,  8804,
         6326],
       [ 8907,  1678,  8910,  8908,  6978,  8909,  8911,  5280,   932,
         9600],
       [ 4051,  9245,  5931,  6535,  3321,   475,  1163,  4386,  6348,
         1462],
       [ 2832,  5264,  1796,  8660,  7287,  2950,  2082,  3116,  2833,
         6968],
       [ 3775,  8317,  2386,  3716,  9616,  3774,  8645,  3776,   454,
         3715],
       [ 8365,  4715,  4714,   708,  8240,  6327,  8804,  1659,  8241,
         6792],
       [ 5213,  3671,  9203,  8530,  9845,  3084,  7911,  1464,  3800,
          247],
       [ 8308,  5195,  6801,  9207,  7185,  3704,  5588,   561,  9910,
         4991],
       [ 6624,  2558,  6158,  8734,  8733,  2555,  6172,  4568,  6170,
         6239],
       [ 7407,  7834,  2886,  6670,  4874,  6444,  4815,   481,  8697,
         5217],
       [ 2711,  7643,   762,  1685,  2746,  2922,  8219,  8217,  3033,
         9198],
       [ 8426,  8616,  8425,  8617,  6501,  8427,  5416,  8615,  2964,
         1272],
       [ 3328,  4923,  4924,  3330,  3331,  8343,  6177,  4922,  7364,
         5231],
       [ 1534,  9778,  7228,  1809,  8657,  2978,  4419,  2331,  2831,
         1758],
       [ 8651,   576,  4925,  1260,  6770,  2310,  4922,  2317,  2311,
         3178],
       [ 8954,   950,  6257,  8955,  7458,  5573,  4522,  1353,   652,
          530],
       [ 2837,  6260,  8707,  4025,  6254,  1505,  8439,  2658,   700,
         8159],
       [ 2003,  7019,  4935,  1354,  2546,  7678,  6177,  5684,  7156,
          128],
       [ 5850,  8541,  8768,  1895,  8737,   473,  1783,  5064,  3924,
         7129],
       [ 4522,  4521,  4520,  4300,  5575,  2437,  1597,  1596,  1168,
         4299],
       [ 4493,  3055,  2340,  8645,  3815,  1005,  7560,  4026,   811,
         7269],
       [ 2711,  7643,  6799,  1622,   714,  2267,  2723,  2722,  2746,
         4429],
       [ 4230,  2147,  9048,   781,   756,  4148,   617,  8002,  2660,
         9393],
       [ 2298,  6243,  1007,  7733,  2163,  3889,  3890,  3457,  8198,
         1005],
       [    0,  6663,  6664,  6665,  6666,  6667,  6668,  6669,  6670,
         6671],
       [ 4947,  9989,     0,  6663,  6664,  6665,  6666,  6667,  6662,
         6668],
       [ 9197,  5672,   415,  9758,   525,  5845,  3213,  3618,  2496,
         1828],
       [ 4756,  8387,  5894,  7620,  6162,  3378,  9340,  6281,  7618,
         7621],
       [ 3354,  4698,  2894,  5516,   953,  3681,  1436,  9852,  3225,
         5048],
       [ 5016,  5671,  5801,  5802,  6052,  6728,   995,  1104,  9642,
         3988],
       [  100,    99,  2654,  7374,  8519,  9836,  7825,  4673,   266,
         1266],
       [ 4030,  2013,  4590,  4342,  7293,  3767,  9710,  2846,  7692,
         4343],
       [ 2295,  2468,  2330,  5954,  8397,  5794,  7687,  8705,  3349,
         3744],
       [ 7889,  4166,  7779,  9807,  4853,  2222,  9711,  6581,  7228,
          727],
       [ 4635,  1364,  9837,  4634,  6707,  1648,  8533,  3712,  2612,
         5145],
       [ 9712,    48,  5314,  9325,  5873,  9713,  5692,  9324,  5299,
          523],
       [ 4485,  2191,  4486,  3641,  2711,  7643,  9062,  1605,  7392,
         9459],
       [ 4879,  2711,  3182,  7643,  4058,  7007,  2746,  5447,   848,
         3534],
       [ 8643,  9273,  8548,  6925,   131,  6922,  8606,  8642,  4307,
         6924],
       [  482,  7071,  3900,  6444,  3958,  5480,   480,   528,  5979,
          527],
       [ 6079,   852,   995,  6056,  7420,  6699,  4228,  3072,  4288,
          869],
       [ 2351,  9749,  9541,  8255,  5197,  4968,  2823,  7368,  8572,
         4061],
       [ 7601,  2850,     0,  6665,  6666,  6667,  6668,  6669,  6670,
         6671],
       [ 1256,  7689,  9626,  3950,  8372,  2121,  9359,  6531,  4992,
         7072],
       [ 8410,  8985,   402,  9439,  5724,     6,  6330,  7277,  9890,
         1869],
       [  154,  8426,  8425,  8617,  6501,  8615,  8427,  8616,  9325,
          523],
       [ 9202,  5684,  9389,  5162,  4363,  1417,  6480,  4545,   908,
         3367],
       [ 5600,  5602,  8678,  7689,  6140,  9596,  4364,  6139,  9626,
         1143],
       [ 5636,  7689,  9626,  1237,   583,  3950,  8372,  9359,  6531,
         4992],
       [  249,  7689,  9626,  3950,  8372,  9359,  6531,  4992,  7072,
          613],
       [ 4731,  2711,  7643,  2746,  4945,  2846,  9093,  9073,  5809,
         2185],
       [ 7956,  7743,  2711,  7643,  3738,  3522,  2746,  6550,  6165,
         8055],
       [ 8429,  8428,  6583,  2711,  7643,  9712,  2746,  2378,  2844,
         4003],
       [ 7987,   566,  6828,   573,  2827,  4395,  4968,  4733,  2813,
         9948],
       [ 9202,  5684,  9389,  5162,  4363,  1417,  6480,  4545,   908,
         3367],
       [ 8120,  6736,  2183,  9230,  6635,  9216,  5726,  9167,  4824,
         3015],
       [ 7238,  8827,  9423,  1163,  6772,  3198,  4588,  9286,  7232,
         6384],
       [ 5958,  9886,  9602,  8382,  6177,  3985,  5231,  2722,  7313,
         6908],
       [ 3997,  8611,  2733,  9452,  6177,  5231,  1928,  4679,  8862,
         2722],
       [ 7120,  6391,  1947,  4906,  7935,  8984,  5394,  4045,  5737,
         7068],
       [ 4094,  8005,  2195,  7120,   413,  9477,  2760,  2254,  2714,
          377],
       [ 2486,  4723,   391,  9062,  5453,  4461,  3485,  9714,  3840,
         9825],
       [ 1545,  4171,  3997,  5314,  8114,  8862,  3380,  1544,  5315,
         1154],
       [ 4071,  4618,   751,  5666,  4842,  1492,  6311,  8137,  1705,
         4535],
       [ 1460,  8678,  2297,  4100,  6140,  8919,  3497,  2659,  6139,
         1143],
       [ 8607,  3422,  4257,  7280,  9505,  7661,  1685,  8336,  1080,
         2922],
       [ 2855,  7309,  8055,  7171,  9298,  6816,  6815,  2847,   477,
         9569],
       [ 5581,   664,  3801,  4502,  2080,  4324,  2073,  7222,  7037,
          601],
       [ 8103,  8102,  1717,  5647,  3723,  9397,  8344,  1727,  3278,
         4458],
       [ 9914,  3153,  9108,   266,  6318,  1091,   265,  3330,  5737,
         7040],
       [ 9914,  3153,  9108,   266,  6318,  1091,   265,  3330,  5737,
         7040],
       [ 9202,  5684,  9389,  5162,  1793,  4363,  1417,  6480,  4545,
          908],
       [ 3560,  2643,  3690,   984,  8512,  3561,  3833,  9714,  9108,
         2877],
       [ 7884,  7886,  4446,  9195,  3814,  7660,  9196,  5946,  3341,
         5459],
       [ 9794,  9793,  9795,  1849,  8612,  3087,  8632,  9796,  7040,
         6318],
       [ 2751,  4523,  9306,  9157,  1563,  2989,  6266,  8604,  3602,
           38],
       [ 9167,  3880,  2003,  7019,  4935,  1354,  2546,  7678,  6177,
         5684],
       [  478,  1450,  1449,  9202,  5684,  9389,  5162,  8187,  4363,
         1417],
       [  640,  9202,  5684,  9389,  5162,  3924,  4363,  1417,  6480,
         4545],
       [ 4271,  4671,  9202,  5684,  9389,  5162,  4363,  1417,  6480,
         4545],
       [ 5675,   716,  7471,   715,  8624,  1218,  5862,  2587,  2588,
         2891],
       [ 1666,  1669,  1667,  1668,  2891,  4009,  2712,  2319,   755,
         7942],
       [    0,  6663,  6664,  6665,  6666,  6667,  6668,  6669,  6670,
         6671],
       [    0,  6663,  6664,  6665,  6666,  6667,  6668,  6669,  6670,
         6671],
       [    0,  6663,  6664,  6665,  6666,  6667,  6668,  6669,  6670,
         6671],
       [ 6573,  4921,  7560,  8146,   812,  4710,  1372,  3824,  7561,
         8704],
       [    0,  6663,  6664,  6665,  6666,  6667,  6668,  6669,  6670,
         6671],
       [ 4680,   451,  7315,  8626,  9928,  2180,  4794,  2197,  8488,
         8830],
       [    0,  6663,  6664,  6665,  6666,  6667,  6668,  6669,  6670,
         6671],
       [    0,  6663,  6664,  6665,  6666,  6667,  6668,  6669,  6670,
         6671],
       [ 4607,  7352,  4608,  6713,  6662,  6663,  6664,  6665,  6666,
         6667],
       [ 8491,  8707,  5413,  6452,   950,  8490,  6254,  4841,  1505,
         4920],
       [ 5836,  5703,  9808,  5837,  2573,  3883,  8163,   264,  3772,
         4507],
       [ 1711,  1747,  8778,  7705,  4510,  8549,  8056,  5719,  3288,
         3431],
       [ 4575,  3218,  7257,  1904,  1131,  4394,  1906,  9774,  1351,
         8874],
       [ 2717,  1804,  2934,  1803,  2932,  9936,    57,     0,  6153,
         2722]])

In [34]:
def predictions_to_ids_ranking(corpus, queries, prediction):
    
    mapped_results = [corpus.iloc[row]['corpus-id'].values for row in prediction]
    df = pd.DataFrame(mapped_results)
    df.insert(0, 'query-id', queries['query-id'].iloc[:len(df)])
    df.columns = ['query-id'] + [f'rank-{i}' for i in range(1, df.shape[1])]
    return df
    
predictions_to_ids_ranking(corpus2, queries2, prediction)

,query-id,rank-1,rank-2,rank-3,rank-4,rank-5,rank-6,rank-7,rank-8,rank-9,rank-10
0,3,1142680,38226,17077,71221,61031,62371,47722,25388,68448,26772
1,4,31090,43629,5359,31095,36295,40499,42198,1511,30450,56230
2,5,38677,63262,46549,1944,63267,15047,7010,53956,44068,7012
3,6,70257,59694,36602,42322,44232,42318,49395,29277,53986,53001
4,8,46284,12742,34756,60260,46276,60258,12737,12743,64341,46283
...,...,...,...,...,...,...,...,...,...,...,...
95,266,62053,63693,39597,47317,7091,62046,45772,35333,11605,35885
96,271,42603,41719,71460,42604,19146,28528,59641,1911,27691,32929
97,275,13048,13300,64172,56340,32937,62478,58869,41825,24045,25105
98,279,33367,23615,53312,14397,8514,32130,14401,71242,10359,64798
99,286,20111,13716,21618,13715,21609,72346,434,0,44924,20130

## Way 2

In [35]:
def vectorize_queries(queries_df, vocabulary, idf):
    """Convert each query in the DataFrame into its TF-IDF vector."""
    
    print("Process queries ...")
    # Preprocess all queries
    queries_df.loc[:,'processed'] = queries_df['text'].apply(preprocess_query)

    print("Prepare dataframe ...")
    # Flatten for efficient computation
    flattened = queries_df.explode('processed')

    print("Compute  tf ...")
    # Get dummy variables for each term
    dummies = pd.get_dummies(flattened['processed']).groupby(flattened.index).sum()

    print("Rename tf dataframe ...")
    # Create a DataFrame for term frequencies, using only the columns in our vocabulary
    tf_df = dummies.reindex(columns=vocabulary, fill_value=0)

    print("Multiply by idf ...")
    # Convert idf dictionary to a Series for easier multiplication
    idf_series = pd.Series(idf)
    
    # Compute TF-IDF
    tfidf_df = tf_df.multiply(idf_series, axis=1)
    print("Done !")
    return tfidf_df

vectors = vectorize_queries(queries2, vocabulary, idf)

Process queries ...
Prepare dataframe ...
Compute  tf ...
Rename tf dataframe ...
Multiply by idf ...

/var/folders/ym/9zzn1f9j7c7dnh381g3rrm_m0000gn/T/ipykernel_21350/2624412727.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  queries_df.loc[:,'processed'] = queries_df['text'].apply(preprocess_query)

Done !

In [36]:
predictions_to_ids_ranking(corpus2,queries2,predict_documents(tfidf_np, vectors, 10))

,query-id,rank-1,rank-2,rank-3,rank-4,rank-5,rank-6,rank-7,rank-8,rank-9,rank-10
0,3,1142680,38226,17077,71221,61031,62371,47722,25388,68448,26772
1,4,31090,43629,5359,31095,36295,40499,42198,1511,30450,56230
2,5,38677,63262,46549,1944,63267,15047,7010,53956,44068,7012
3,6,70257,59694,36602,42322,44232,42318,49395,29277,53986,53001
4,8,46284,12742,34756,60260,46276,60258,12737,12743,64341,46283
...,...,...,...,...,...,...,...,...,...,...,...
95,266,62053,63693,39597,47317,7091,62046,45772,35333,11605,35885
96,271,42603,41719,71460,42604,19146,28528,59641,1911,27691,32929
97,275,13048,13300,64172,56340,32937,62478,58869,41825,24045,25105
98,279,33367,23615,53312,14397,8514,32130,14401,71242,10359,64798
99,286,20111,13716,21618,13715,21609,72346,434,0,44924,20130